@font-face {
  font-family: "Onest-Thin";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Onest-Thin.woff") format("woff"), url("../fonts/Onest-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Onest-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Onest-Light.woff") format("woff"), url("../fonts/Onest-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Onest-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Onest-Regular.woff") format("woff"), url("../fonts/Onest-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Onest-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Onest-Medium.woff") format("woff");
}
@font-face {
  font-family: "Onest-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Onest-Bold.woff") format("woff"), url("../fonts/Onest-Bold.woff2") format("woff2");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #fff;
  font-family: "Onest-Regular";
  background: #252525;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}
.container__footer {
  max-width: 960px;
}

.title {
  font-size: 50px;
  font-family: "Onest-Bold";
  margin-bottom: 40px;
}

.top {
  background-image: url(../images/top-bg.png);
  min-height: 100vh;
  background-size: cover;
  padding-top: 50px;
}
.top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.top__descr {
  width: 65%;
}
.top__title {
  font-size: 60px;
  font-family: "Onest-Bold";
  margin-bottom: 40px;
  max-width: 770px;
}
.top__p {
  font-size: 30px;
  font-family: "Onest-Light";
}
.top__form {
  width: 35%;
}
.top__form-item {
  margin-bottom: 20px;
  position: relative;
}
.top__form-input {
  min-width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
}
.top__form-input::-moz-placeholder {
  font-size: 24px;
  font-family: "Onest-Thin";
  color: rgba(255, 255, 255, 0.5);
}
.top__form-input::placeholder {
  font-size: 24px;
  font-family: "Onest-Thin";
  color: rgba(255, 255, 255, 0.5);
}
.top__form-file {
  width: 100%;
  font-size: 20px;
  font-family: "Onest-Thin";
  margin-bottom: 20px;
}
.top__form-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.top__form-check:checked + .top__form-check-label::after {
  opacity: 1;
}
.top__form-check-label {
  cursor: pointer;
  font-family: "Onest-Thin";
  font-size: 19px;
  padding-left: 50px;
}
.top__form-check-label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.top__form-check-label::after {
  content: "";
  display: block;
  width: 17px;
  height: 13px;
  background: url(../images/check.svg) no-repeat;
  background-size: 17px 13px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 2;
  opacity: 0;
}
.top__form-btn {
  cursor: pointer;
  background: transparent;
  font-size: 22px;
  font-family: "Onest-Light";
  color: #fff;
  padding: 8px 24px;
  border-radius: 40px;
  border: 1px solid #FFF;
  outline: none;
}

.header {
  font-size: 20px;
  margin-bottom: 155px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 10px;
}
.header__logo img {
  max-width: 100%;
}
.header__menu-li {
  display: inline-block;
  margin-right: 50px;
}
.header__menu-li:last-child {
  margin-right: 0;
}
.header__contacts {
  max-width: 316px;
}
.header__contacts-link {
  margin-bottom: 10px;
}
.header__contacts-link._phone, .header__contacts-link._mail, .header__contacts-p._place {
  position: relative;
  padding-left: 35px;
}
.header__contacts-link._phone::before, .header__contacts-link._mail::before, .header__contacts-p._place::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
.header__contacts-link._phone::before {
  background-image: url(../images/phone.svg);
}
.header__contacts-link._mail::before {
  background-image: url(../images/mail.svg);
}
.header__contacts-p._place::before {
  background-image: url(../images/place.png);
}
.header__burger {
  display: none;
}

.about {
  padding: 70px 0 100px;
  font-size: 26px;
  font-family: "Onest-Regular";
}
.about__p {
  margin-bottom: 50px;
}
.about__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__descr-p {
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px;
}
.about__descr-p:last-child {
  margin-bottom: 0;
}
.about__descr-p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/list-check.svg);
}

.partners {
  margin-bottom: 90px;
}
.partners__link {
  padding: 8px 24px;
  border-radius: 40px;
  border: 1px solid #FFF;
  font-size: 26px;
  font-family: "Onest-Regular";
  margin-right: 30px;
  margin-bottom: 30px;
}

.products {
  padding: 70px 0 60px;
  background-image: url(../images/production-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 775px;
}
.products__item {
  display: flex;
}
.products__item:first-child {
  margin-bottom: 60px;
}
.products__item-descr {
  max-width: 30%;
  margin-right: 50px;
}
.products__item-title {
  font-size: 40px;
  font-family: "Onest-Medium";
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
}
.products__item-p {
  font-size: 24px;
}
.products__item-links {
  display: flex;
  flex-wrap: wrap;
}
.products__item-link {
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 30px;
  font-size: 26px;
}
.products__item-link img {
  margin-left: 40px;
  width: 30px;
  height: 30px;
}

.production {
  padding: 100px 0;
}
.production__p {
  font-size: 30px;
  margin-bottom: 40px;
}
.production__link {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid #FFF;
  font-size: 26px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.production__link:last-child {
  margin-right: 0;
}
.production__link img {
  margin-left: 40px;
}

.gallery {
  padding-bottom: 100px;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
}
.gallery__item {
  max-width: 620px;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.map {
  margin-bottom: 100px;
}
.map__inner {
  display: flex;
  justify-content: space-between;
}
.map__map {
  margin-right: 20px;
  width: 70%;
}
.map__map .ymaps-layers-pane {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}
.map__contacts {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Onest-Medium";
}
.map__contacts-anchor {
  font-family: "Onest-Light";
  font-size: 21px;
  text-align: center;
  padding: 8px 24px;
  border-radius: 40px;
  border: 1px solid #FFF;
}

.footer {
  background: #1F1F1F;
  padding: 120px 0;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background-image: url(../images/footer-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__inner {
  position: relative;
  z-index: 2;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer__menu-item {
  margin-right: 100px;
}
.footer__menu-item:last-child {
  margin-right: 0;
}
.footer__menu-title {
  font-size: 26px;
  font-family: "Onest-Bold";
  margin-bottom: 30px;
}
.footer__menu-li {
  margin-bottom: 10px;
  font-size: 20px;
}
.footer__menu-li:last-child {
  margin-bottom: 0;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
}
.footer__copy-descr {
  border-bottom: 1px solid #fff;
}

.top-btn {
  position: fixed;
  right: 50px;
  bottom: 140px;
  z-index: 3;
}