@media(min-width: 769px){
    .header__menu-li{
        border-bottom: 1px solid transparent;
        transition: all .5s;
    }
    .header__menu-li:hover{
        border-bottom: 1px solid #fff;
    }
}