@import 'fonts';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 320px;
    color: #fff;
    font-family: "Onest-Regular";
    background: #252525;
    // overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container{
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
    &__footer{
        max-width: 960px;
    }
}

.title{
    font-size: 50px;
    font-family: "Onest-Bold";
    margin-bottom: 40px;
}

.top{
    background-image: url(../images/top-bg.png);
    min-height: 100vh;
    background-size: cover;
    padding-top: 50px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    &__descr{
        width: 65%;
    }
    &__title{
        font-size: 60px;
        font-family: "Onest-Bold";
        margin-bottom: 40px;
        max-width: 770px;
    }
    &__p{
        font-size: 30px;
        font-family: "Onest-Light";
    }
    &__form{
        width: 35%;
        &-item{
            margin-bottom: 20px;
            position: relative;
        }
        &-input{
            min-width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            height: 40px;
            outline: none;
            color: #fff;
            font-family: inherit;
            font-size: 24px;
        }
        &-input::placeholder{
            font-size: 24px;
            font-family: "Onest-Thin";
            color: rgba(255, 255, 255, 0.50);
        }
        &-file{
            width: 100%;
            font-size: 20px;
            font-family: "Onest-Thin";
            margin-bottom: 20px;
        }
        &-check{
            appearance: none;
            position: absolute;
        }
        &-check:checked + &-check-label::after{
            opacity: 1;
        }
        &-check-label{
            cursor: pointer;
            font-family: "Onest-Thin";
            font-size: 19px;
            padding-left: 50px;
            &::before{
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                border: 2px solid #fff;
                border-radius: 8px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            &::after{
                content: '';
                display: block;
                width: 17px;
                height: 13px;
                background: url(../images/check.svg) no-repeat;
                background-size: 17px 13px;
                position: absolute;
                top: 7px;
                left: 7px;
                z-index: 2;
                opacity: 0;
            }
        }
        &-btn{
            cursor: pointer;
            background: transparent;
            font-size: 22px;
            font-family: "Onest-Light";
            color: #fff;
            padding: 8px 24px;
            border-radius: 40px;
            border: 1px solid #FFF;
            outline: none;
        }
    }
}
.header{
    font-size: 20px;
    margin-bottom: 155px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        margin-right: 10px;
        img{
            max-width: 100%;
        }
    }
    &__menu{
        &-list{}
        &-li{
            display: inline-block;
            margin-right: 50px;
        }
        &-li:last-child{
            margin-right: 0;
        }
        &-link{}
    }
    &__contacts{
        max-width: 316px;
        &-list{}
        &-li{}
        &-link{
            margin-bottom: 10px;
        }
        &-link._phone,
        &-link._mail,
        &-p._place{
            position: relative;
            padding-left: 35px;
        }
        &-link._phone::before,
        &-link._mail::before,
        &-p._place::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: contain;
            width: 25px;
            height: 25px;
        }
        &-link._phone::before{
            background-image: url(../images/phone.svg);
        }
        &-link._mail::before{
            background-image: url(../images/mail.svg);
        }
        &-p._place::before{
            background-image: url(../images/place.png);
        }
    }
    &__burger{
        display: none;
    }
}

.about{
    padding: 70px 0 100px;
    font-size: 26px;
    font-family: "Onest-Regular";
    &__inner{}
    &__p{
        margin-bottom: 50px;
    }
    &__descr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item{}
        &-p{
            position: relative;
            padding-left: 55px;
            margin-bottom: 15px;
        }
        &-p:last-child{
            margin-bottom: 0;
        }
        &-p::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../images/list-check.svg);
        }
    }
}

.partners{
    margin-bottom: 90px;
    &__inner{}
    &__links{}
    &__link{
        padding: 8px 24px;
        border-radius: 40px;
        border: 1px solid #FFF;
        font-size: 26px;
        font-family: "Onest-Regular";
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.products{
    padding: 70px 0 60px;
    background-image: url(../images/production-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 775px;
    &__inner{}
    &__items{}
    &__item{
        display: flex;
        // align-items: center;
        &:first-child{
            margin-bottom: 60px;
        }
        &-descr{
            max-width: 30%;
            margin-right: 50px;
        }
        &-title{
            font-size: 40px;
            font-family: "Onest-Medium";
            margin-bottom: 30px;
            border-bottom: 1px solid #fff;
        }
        &-p{
            font-size: 24px;
        }
        &-links{
            display: flex;
            flex-wrap: wrap;
        }
        &-link{
            padding: 10px 30px;
            border-radius: 25px;
            border: 1px solid #FFF;
            display: flex;
            align-items: center;
            margin-right: 40px;
            margin-bottom: 30px;
            font-size: 26px;
        }
        &-link img{
            margin-left: 40px;
            width: 30px;
            height: 30px;
        }
    }
}

.production{
    padding: 100px 0;
    &__p{
        font-size: 30px;
        margin-bottom: 40px;
    }
    &__links{}
    &__link{
        display: inline-flex;
        align-items: center;
        padding: 10px 30px;
        border-radius: 25px;
        border: 1px solid #FFF;
        font-size: 26px;
        margin-right: 40px;
        margin-bottom: 30px;
        &:last-child{
            margin-right: 0;
        }
        img{
            margin-left: 40px;
        }
    }
}

.gallery{
    padding-bottom: 100px;
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
    }
    &__item{
        max-width: 620px;
        height: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.map{
    margin-bottom: 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__map{
        margin-right: 20px;
        width: 70%;
        .ymaps-layers-pane {
            filter: grayscale(1);
            -ms-filter: grayscale(1);
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -o-filter: grayscale(1);
        }
    }
    &__contacts{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 30px;
        font-family: "Onest-Medium";
        &-anchor{
            font-family: "Onest-Light";
            font-size: 21px;
            text-align: center;
            padding: 8px 24px;
            border-radius: 40px;
            border: 1px solid #FFF;
        }
    }
}

.footer{
    background: #1F1F1F;
    padding: 120px 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        background-image: url(../images/footer-img.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__inner{
        position: relative;
        z-index: 2;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        &-item{
            margin-right: 100px;
        }
        &-item:last-child{
            margin-right: 0;
        }
        &-title{
            font-size: 26px;
            font-family: "Onest-Bold";
            margin-bottom: 30px;
        }
        &-li{
            margin-bottom: 10px;
            font-size: 20px;
        }
        &-li:last-child{
            margin-bottom: 0;
        }
    }
    &__copy{
        display: flex;
        justify-content: space-between;
        &-descr{
            border-bottom: 1px solid #fff;
        }
    }
}

.top-btn{
    position: fixed;
    right: 50px;
    bottom: 140px;
    z-index: 3;
}